{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>{{ blog_title }} </h2>
    <a href="/posts/new/{{ blog_id }}"><button class="btn btn-primary">New Post</button></a>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <h4>{{ post.title }}</h4>
            <p>{{ post.content }}</p>
            <p>{{ post.author }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <h3> NO POST HERE </h3> 
    {% endif %}           
</div>
{% endblock %}